@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color:#ff833e;
    --primary-color-dark:#db6f35;
    --text-dark:#333333;
    --text-light:#767268;
    --white:#ffffff;
    --max-width:1200px;
    --header-font:"Bebas Neue", serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;;
}
img{
    display: flex;
    width: 100%;
}
a{
    text-decoration: none;
    transition: 0.3s;
}
body{
    font-family: "Poppins", sans-serif;
    background-color: var(--white);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
nav{
    position: fixed;
    isolation: isolate;
    width: 100%;
    z-index: 9;
    margin-bottom: 85px;
}
.nav__header{
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
}
.nav__logo a{
    font-size: 1.75rem;
    font-weight: 400;
    font-family: var(--header-font);
    color: white;
}
.nav__menu_btn{
    font-size: 1.5 rem;
    color: white;
    cursor: pointer;
}
.nav__links{
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    padding: 2rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--primary-color);
    transition: 0.5s;
    z-index: -1;
    transform: translateY(-100%);
}
.nav__links.open{
    transform: translateY(0);
}
.nav__links a{
    font-weight: 500;
    color: var(--white);
}
.nav__links a:hover{
    color: var(--text-dark);
}
.nav__btns{
    display: flex;
    gap: 1rem;
}

@media(width > 768px ){
    nav{
        position: static;
        padding-block: 2rem 0;
        padding-inline: 1rem;
        max-width: var(--max-width);
        margin-inline: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }

    .nav__header{
        flex:1;
        padding: 0 ;
        background-color: transparent;
    }

    .nav__logo a{
        color: var(--text-dark);
    }

    .nav__logo a span{
        color:var(--primary-color);
    }
    .nav__menu__btn{
        display: none;
    }
    .nav__links{
        position: static;
        padding: 0;
        flex-direction: row;
        background-color: transparent;
        transform: none;
    }
    .nav__links a{
        padding-block: 5px;
        color: var(--text-dark);
        border-bottom: 4px solid transparent;
    }
    .nav__links a:hover{
        border-color: var(--primary-color);
    }

    .nav_btns {
        display: flex;
        flex: 1;
    }
    .nav__btns .btn {
        padding: .75rem 1.5rem;
        outline: none;
        border: none;
        font-size: 1rem;
        white-space: nowrap;
        border-radius: 10px;
        transition: 0.3s;
        cursor:pointer;
    }
    .log__out{
    display: inline-block;
    padding: 8px 20px;
    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 6px;
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 500;
    transition: .5s;

    
    }
    .log__out:hover{
        background: var(--primary-color);
        color: white;
    }
}
.booking_form{
    background-color: var(--white);
    border-radius: 12px;
    padding: 40px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 10px 25px rgba(0, 0,0,0.1);
    text-align: center;
}
.booking_form h2{
    margin-bottom: 20px;
    color: var(--text-dark);
    font-weight: 700;
}
.input_group{
    position: relative;
    margin-bottom: 10px;
}
.input_group i{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: var(--primary-color);
    font-size: 1.1rem;
}
.input_group input{
    width: 100%;
    padding: 12px 40px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    font-size: 0.95rem;
    transition: border-color 0.3s;
}
.input_group input:focus{
    border-radius: var(--primary-color);
}
button{
    width: 100%;
    padding: 12px;
    background: var(--primary-color);
    border: none;
    border-radius: 8px;
    color: var(--white);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 10px;
}
button:hover{
    background-color: var(--primary-color-dark);
}
@media(max-width:768px){
    .booking_form{
        padding: 30px;
        max-width: 90%;
    }
    .input_group input{
        font-size: 0.9rem;
        padding: 10px 35px;
    }
    button{
        font-size: 0.9rem;
    }
}
@media(max-width:480px){
    .booking_form{
        padding: 20px;
        box-shadow: 0 5px 15px rgba(0, 0,0,0.1);
    }
    .booking-form h2{
        font-size: 1.2rem;
    }
    .input-group i{
        font-size: 1rem;
    }
    .input-group input{
        padding: 10px 30px;
        font-size: 0.85rem;
    }
    button{
        padding: 10px;
        font-size: 0.9rem;
    }
}
p{
    font-size: 18px;
    font: weight 300px;;
    color: var(--text-light);
    margin-bottom: 5px;
}
.popup{
    width: 400px;
    background: var(--white);
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: var(--text-dark);
    box-shadow: 0 10px 25px rgba(0, 0,0,0.1);
    visibility: hidden;
}
.open-popup{
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}
.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    margin-left: 110px;
    box-shadow: 0 2px 5px rgba(0, 0,0,0.2);
}
.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}
.popup button{
    width: 50%;
    margin-top: 50px;
    padding: 10px 0;
    background: var(--primary-color);
    color: var(--white);
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0,0,0.2);
}
.popup button:hover{
    background-color: var(--primary-color-dark);
}
span{
    color: var(--primary-color);
}
input{
    cursor: pointer;
}
@media (max-width: 768px) {
    .nav__btns {
        display: none;
    }
}