@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --primary-color: #ff833e;
    --primary-color-dark: #db6f35;
    --text-dark: #333333;
    --light-gray: #f4f4f4;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    width: 400px;
    padding: 20px;
    text-align: center;
}

.profile__section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
    border: 4px solid var(--primary-color);
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#profile-pic {
    display: block !important; /* Override any inline display style */
}


h2 {
    font-size: 24px;
    color: var(--text-dark);
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    color: var (--text-dark);
    margin-bottom: 5px;
}

button {
    background-color: var(--primary-color);
    color: var(--white);
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    padding: .75rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s;
}

button:hover {
    background-color: transparent;
    color: var(--primary-color);
}
