@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color:#ff833e;
    --primary-color-dark:#db6f35;
    --text-dark:#333333;
    --text-light:#767268;
    --white:#ffffff;
    --max-width:1200px;
    --header-font:"Bebas Neue", serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;;
}
img{
    display: flex;
    width: 100%;
}
a{
    text-decoration: none;
    transition: 0.3s;
}
body{
    font-family: "Poppins", sans-serif;
    background-color: var(--white);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
nav{
    position: fixed;
    isolation: isolate;
    width: 100%;
    z-index: 9;
    margin-bottom: 85px;
}
.nav__header{
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
}
.nav__logo a{
    font-size: 1.75rem;
    font-weight: 400;
    font-family: var(--header-font);
    color: white;
}
.nav__menu_btn{
    font-size: 1.5 rem;
    color: white;
    cursor: pointer;
}
.nav__links{
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    padding: 2rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--primary-color);
    transition: 0.5s;
    z-index: -1;
    transform: translateY(-100%);
}
.nav__links.open{
    transform: translateY(0);
}
.nav__links a{
    font-weight: 500;
    color: var(--white);
}
.nav__links a:hover{
    color: var(--text-dark);
}
.nav__btns{
    display: flex;
    gap: 1rem;
}

@media(width > 768px ){
    nav{
        position: static;
        padding-block: 2rem 0;
        padding-inline: 1rem;
        max-width: var(--max-width);
        margin-inline: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }

    .nav__header{
        flex:1;
        padding: 0 ;
        background-color: transparent;
    }

    .nav__logo a{
        color: var(--text-dark);
    }

    .nav__logo a span{
        color:var(--primary-color);
    }
    .nav__menu__btn{
        display: none;
    }
    .nav__links{
        position: static;
        padding: 0;
        flex-direction: row;
        background-color: transparent;
        transform: none;
    }
    .nav__links a{
        padding-block: 5px;
        color: var(--text-dark);
        border-bottom: 4px solid transparent;
    }
    .nav__links a:hover{
        border-color: var(--primary-color);
    }

    .nav_btns {
        display: flex;
        flex: 1;
    }
    .nav__btns .btn {
        padding: .75rem 1.5rem;
        outline: none;
        border: none;
        font-size: 1rem;
        white-space: nowrap;
        border-radius: 10px;
        transition: 0.3s;
        cursor:pointer;
    }
    .log__out{
    display: inline-block;
    padding: 8px 20px;
    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 6px;
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 500;
    transition: .5s;

    
    }
    .log__out:hover{
        background: var(--primary-color);
        color: white;
    }
}
.container{
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 550px;
}
.container p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}
.container a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}
.container button{
    background-color: var(--primary-color);
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}
.container button.hidden{
    background-color: transparent;
    border-color: #fff;
}
.container form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}
.container input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline:none ;
}
.form__container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}
.sign__in{
    left: 0;
    width: 50%;
    z-index: 2;
}
.sign__up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}
.container.active .sign__up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.toggle__container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}
.container.active .toggle__container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle{
    background-color: var(--primary-color);
    height: 100%;
    background: linear-gradient(to right, --primary-color, --primary-color-dark);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}
.container.active .toggle{
    transform: translateX(50%);
}
.toggle__panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:  0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
    
} 
.toggle__left{
    transform: translateX(-200%);
}
.container.active .toggle__left{
    transform: translateX(0);
}
.toggle__right{
    right: 0;
    transform: translateX(0);
}
.container.active .toggle__right{
    transform: translateX(200%);
}

.container textarea{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline:none ;
    height: 150px;
}
button:hover{
    background: var(--primary-color-dark);
}
.box{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline:none ;
    color: #767268;
    cursor: pointer;
}
textarea{
    font-family: "Poppins", sans-serif;
}
::-webkit-file-upload-button{
    color: white;
    background: var(--primary-color);
    padding: 10px;
    border: none;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
}
::-webkit-file-upload-button:hover{
    background-color: var(--primary-color-dark);
}
.upload_box{
    border-radius: 50px;
    cursor: pointer;
}
@media (max-width: 768px) {
    .nav__btns {
        display: none;
    }
}