@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color:#ff833e;
    --primary-color-dark:#db6f35;
    --text-dark:#333333;
    --text-light:#767268;
    --gray100:#f9fbff;
    --gray150: #f4f6fb;
    --gray200: #eef1f6;
    --gray300: #e1e5ee;
    --gray400: #767b91;
    --gray500: #4f546c;
    --white:#ffffff;
    --max-width:1200px;
    --header-font:"Bebas Neue", serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;;
}
img{
    display: flex;
    width: 100%;
}
a{
    text-decoration: none;
    transition: 0.3s;
}
body{
    font-family: "Poppins", sans-serif;
}
nav{
    position: fixed;
    isolation: isolate;
    width: 100%;
    z-index: 9;
}
.nav__header{
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
}
.nav__logo a{
    font-size: 1.75rem;
    font-weight: 400;
    font-family: var(--header-font);
    color: white;
}
.nav__menu_btn{
    font-size: 1.5 rem;
    color: white;
    cursor: pointer;
}
.nav__links{
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    padding: 2rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--primary-color);
    transition: 0.5s;
    z-index: -1;
    transform: translateY(-100%);
}
.nav__links.open{
    transform: translateY(0);
}
.nav__links a{
    font-weight: 500;
    color: var(--white);
}
.nav__links a:hover{
    color: var(--text-dark);
}
.nav__btns{
    display: flex;
    gap: 1rem;
}

@media(width > 768px ){
    nav{
        position: static;
        padding-block: 2rem 0;
        padding-inline: 1rem;
        max-width: var(--max-width);
        margin-inline: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }

    .nav__header{
        flex:1;
        padding: 0 ;
        background-color: transparent;
    }

    .nav__logo a{
        color: var(--text-dark);
    }

    .nav__logo a span{
        color:var(--primary-color);
    }
    .nav__menu__btn{
        display: none;
    }
    .nav__links{
        position: static;
        padding: 0;
        flex-direction: row;
        background-color: transparent;
        transform: none;
    }
    .nav__links a{
        padding-block: 5px;
        color: var(--text-dark);
        border-bottom: 4px solid transparent;
    }
    .nav__links a:hover{
        border-color: var(--primary-color);
    }

    .nav_btns {
        display: flex;
        flex: 1;
    }
    .nav__btns .btn {
        padding: .75rem 1.5rem;
        outline: none;
        border: none;
        font-size: 1rem;
        white-space: nowrap;
        border-radius: 10px;
        transition: 0.3s;
        cursor:pointer;
    }
    .log__out{
    display: inline-block;
    padding: 8px 20px;
    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 6px;
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 500;
    transition: .5s;

    
    }
    .log__out:hover{
        background: var(--primary-color);
        color: white;
    }
    
    /* .header_content :is(h1){
        text-align: left;
    } */
}

h1{
    font-family: var(--header-font);
    font-size: 35px;
    text-align: center;
   margin-top: 40px;
   color: var(--text-dark);
   font-weight: 575; 
}
span{
    color: var(--primary-color);
}

h3{
    text-align: center;
    font-size: 30px;
    margin: 10px 0px;
    padding-top: 10px;
    color: var(--text-dark);
}
a{
    text-decoration: none;
}
.resource{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}
.content{
    width: 25%;
    margin: 20px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;

    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.2), 0 10px 10px rgba(0,0,0,0.18);
    transition: .4s;
    background: var(--white);
}
.content:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transform: translate(0px, -8px);
}

.table_container{
    height: 650px;
    overlay: auto;
    
}
table{
    width: 88%;
    table-layout: fixed;
    /* min-width: 900px; */
    border-collapse: collapse;
}
thead th{
    position: sticky;
    top: 0;
    background-color: #f6f9fc;
    font-size: 15px;
}
th,td{
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;
    word-break: break-all;
    text-align: center;
}
tr:hover td{
    color: var(--text-light);
    cursor: pointer;
    background-color: #f6f9fc;
}
.box{
    margin-top: 20px;
    margin-left: 200px;
    
}

::-webkit-scrollbar{
    height: 5px;
    width: 5px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0  6px rgba(0,0,0,0.3);
}
@media (max-width: 768px) {
    .nav__btns {
        display: none;
    }
}